extends ../layout/base 

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item
                            a(href='/customer/index') Customer
                        li.breadcrumb-item.active Create

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(method="post" action="/customer/store")
                                input(type="hidden" name="_csrf" value=_csrf)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | First Name
                                            input.form-control#first_name(name='first_name' placeholder='Enter First Name' required)
                                    div.col-6
                                        div.form-group
                                            label
                                                | Last Name
                                            input.form-control#last_name(name='last_name' placeholder='Enter Last Name' required)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | Phone
                                            input#phone.form-control(type="phone" name="phone" placeholder="Enter Phone" required)
                                    div.col-6
                                        div.form-group
                                            label
                                                | Email
                                            input.form-control#email(type="email" name='email' placeholder='Enter Email' required)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | Date Of Birth
                                            input#dob.form-control(type="date" name="dob" placeholder="Enter Date of Birth" required max=new Date().toISOString().split('T')[0])
                                    div.col-6
                                        div.form-group
                                            label
                                                | Address
                                            input.form-control#address(name='address' placeholder='Enter Address' required)

                                div.row
                                    div.col-12.text-right
                                        a(href="/customer/index").mr-2
                                            button.btn.btn-secondary(type='button')
                                                | Back
                                        button.btn.btn-success(type='submit')
                                            | Submit